.fight-stick .button { 
  background: #FFF;
}

.fight-stick .button.pressed { background: red; }
.fight-stick .quadrant.p0 { display: none; }
.controller.active.fight-stick {
  background-image: url('./bg.svg');
}