.fight-stick .button { 
  background: #FFF;
  filter: none !important;
  -webkit-filter: none !important;
}

.fight-stick .button.pressed { background: #DDD; }
.fight-stick .quadrant.p0 { display: none; }
.controller.active.fight-stick {
  background-image: url('./bg.svg');
}